<h3>Weekend To-Do List</h3>

<!-- Display task list, line 6 is just a check mark 
why did making it a p tag inside make it so much uglier? -->
<div *ngFor="let t of tasks; index as i">
  <p>
    {{ i + 1 }}.
    <button *ngIf="t.completed == false" (click)="completeTask(t)">
      &#10004;
    </button>

    {{ t.task }}
    <button (click)="Remove(t)">Remove</button>
  </p>
</div>

<form #AddTask="ngForm" (ngSubmit)="addTodo(AddTask)">
  <label for="Task"> Add a task! </label>
  <input type="text" name="Task" id="Task" ngModel />
  <button>Add Item</button>
</form>
<br />

<h1 class="complete" *ngIf="TasksComplete()">Time To Relax!</h1>
